code[class*="language-"],
pre[class*="language-"] {
	color: #4c4f69;
	&:where(.dark,.dark *) {
		color: #cdd6f4;
	}
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #e6e9ef;
	&:where(.dark,.dark *) {
		background: #181825;
	}
}

/* https://prismjs.com/tokens.html */
.token {
	
	&.keyword {
		color: #8839ef;
		&:where(.dark,.dark *) {
			color: #cba6f7;
		}
	}

	&.builtin {
		color: #d20f39;
		&:where(.dark,.dark *) {
			color: #f38ba8;
		}
	}

	&.class-name {
		color: #df8e1d;
		&:where(.dark,.dark *) {
			color: #f9e2af;
		}
	}

	&.function {
		color: #1e66f5;
		&:where(.dark,.dark *) {
			color: #89b4fa;
		}
	}

	&.boolean,
	&.number {
		color: #fe640b;
		&:where(.dark,.dark *) {
			color: #fab387;
		}
	}

	&.string,
	&.char {
		color: #40a02b;
		&:where(.dark,.dark *) {
			color: #a6e3a1;
		}
	}

	&.symbol {
		color: #df8e1d;
		&:where(.dark,.dark *) {
			color: #f9e2af;
		}
	}

	&.regex {
		color: #ea76cb;
		&:where(.dark,.dark *) {
			color: #f5c2e7;
		}
	}

	&.url {
		color: #40a02b;
		&:where(.dark,.dark *) {
			color: #a6e3a1;
		}
	}

	&.operator {
		color: #04a5e5;
		&:where(.dark,.dark *) {
			color: #89dceb;
		}
	}

	&.variable {
		color: #4c4f69;
		&:where(.dark,.dark *) {
			color: #cdd6f4;
		}
	}

	&.constant {
		color: #fe640b;
		&:where(.dark,.dark *) {
			color: #fab387;
		}
	}

	&.property {
		color: #1e66f5;
		&:where(.dark,.dark *) {
			color: #89b4fa;
		}
	}

	&.punctuation {
		color: #7c7f93;
		&:where(.dark,.dark *) {
			color: #9399b2;
		}
	}

	&.important {
		color: #8839ef;
		&:where(.dark,.dark *) {
			color: #cba6f7;
		}
	}

	&.comment {
		color: #7c7f93;
		&:where(.dark,.dark *) {
			color: #9399b2;
		}
	}

	&.tag {
		color: #1e66f5;
		&:where(.dark,.dark *) {
			color: #89b4fa;
		}
	}

	&.attr-name {
		color: #df8e1d;
		&:where(.dark,.dark *) {
			color: #f9e2af;
		}
	}

	&.attr-value {
		color: #40a02b;
		&:where(.dark,.dark *) {
			color: #a6e3a1;
		}
	}

	&.namespace {
		color: #df8e1d;
		&:where(.dark,.dark *) {
			color: #f9e2af;
		}
	}

	&.prolog,
	&.doctype {
		color: #8839ef;
		&:where(.dark,.dark *) {
			color: #cba6f7;
		}
	}

	&.cdata {
		color: #179299;
		&:where(.dark,.dark *) {
			color: #94e2d5;
		}
	}

	&.entity {
		color: #d20f39;
		&:where(.dark,.dark *) {
			color: #f38ba8;
		}
	}

	&.atrule {
		color: #8839ef;
		&:where(.dark,.dark *) {
			color: #cba6f7;
		}
	}

	&.selector {
		color: #1e66f5;
		&:where(.dark,.dark *) {
			color: #89b4fa;
		}
	}

	/* Diff */

	&.deleted {
		color: #d20f39;
		&:where(.dark,.dark *) {
			color: #f38ba8;
		}
	}

	&.inserted {
		color: #40a02b;
		&:where(.dark,.dark *) {
			color: #a6e3a1;
		}
	}

	/* Other */

	&.important,
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}
}