* {
    outline: 0 !important;
    text-decoration: none;
    font-family: google-sans, sans-serif
}

@font-face {
    font-family: google-sans;
    src: url(data:static/font/GoogleSans-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: google-sans-medium;
    src: url(data:static/font/GoogleSans-Medium.ttf);
    font-weight: medium
}

.font-regular {
    font-family: google-sans
}

.font-medium {
    font-family: google-sans-medium
}

body {
    background-color: #d7e8ff
}

body, html {
    margin: 0;
    font-family: google-sans;
    height: auto;
    overflow-x: hidden
}

#nav-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    padding: 0
}

.scroll-margin {
    scroll-margin-top: 4rem
}

.material-card {
    border-radius: 2.5rem
}

.center {
    display: flex;
    align-items: center
}

.filled-btn {
    font-size: 14px;
    font-family: google-sans-medium;
    background: #1a73e8;
    color: #fff;
    border-radius: 99px
}

#features-card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}

#team-grid {
    grid-template-areas:
            "a z"
            "b c"
            "d e"
}

.avatar {
    border-radius: 100vh;
    overflow: hidden
}

.team-border {
    border-left: 4px solid #132845
}

.team-member {
    min-width: 380px
}

.team-member img {
    max-width: none
}

@media only screen and (max-width: 969px) {
    #team-grid {
        grid-template-areas:"a " "b ""c ""d "
    }
}

#legal h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 31px;
    color: #1a73e8;
    border: 2px solid #1a73e8
}

#legal h2 {
    font-size: 30px;
    color: #1a73e8
}

.footer-btn {
    color: #1a73e8;
    line-height: 7vh;
    margin-bottom: 0
}

.footer-btn:hover {
    color: #fff;
    background: #1a73e8;
    border-radius: 12px
}

#back-to-top {
    display: none;
    cursor: pointer
}

.device-sec {
    padding: 20px 0;
    scroll-margin-top: 4rem
}

.nav-tile {
    background-color: #1a73e8
}

.hover\:bg-blue-300:hover, .hover\:bg-blue-300:hover em {
    background-color: #1a73e8 !important;
    color: #fff !important
}

#back-to-top:hover svg, .navbar-btn:hover svg, .footer-btn:hover svg {
    filter: invert(100%) saturate(18%) brightness(200%) contrast(100%) !important
}

.swiper-container {
    padding-bottom: 50px
}

.swiper-slide {
    opacity: 0
}

.swiper-slide-prev {
    opacity: .7;
    filter: blur(4px)
}

.swiper-slide-next {
    opacity: .7;
    filter: blur(4px)
}

.swiper-slide-active {
    opacity: 1;
    filter: blur(0)
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    border-radius: 8px !important;
    background-color: #fff;
    margin: 2px !important;
    opacity: 1
}

.swiper-pagination-bullet-active {
    background-color: #1a73e8;
    border-radius: 8px !important
}

@media only screen and (max-width: 991px) {
    .swiper-container {
        width: 100%
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 238px;
    height: 515px
}

.swiper-slide .img-box {
    width: 100%;
    height: 555px;
    overflow: hidden
}

.swiper-slide .img-box img {
    width: 100%;
    border: 5px solid #000;
    box-shadow: inset 0 0 0 20px #000;
    border-radius: 20px
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #1a73e8;
    border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f6368;
    border-radius: 8px
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    background-size: 200% 200%;
    background: #000 left bottom;
}

.preloader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.preloader {
    display: none
}

.heart {
    -webkit-animation: input-shadow ease-in-out 2s infinite;
    animation: input-shadow ease-in-out 2s infinite
}

@keyframes input-shadow {
    0% {
        fill: rgba(0, 0, 0, .115)
    }
    10% {
        fill: rgba(0, 0, 0, .272)
    }
    20% {
        fill: rgba(0, 0, 0, .435)
    }
    30% {
        fill: rgba(0, 0, 0, .653)
    }
    40% {
        fill: rgba(0, 0, 0, .735)
    }
    50% {
        fill: #000
    }
    60% {
        fill: rgba(0, 0, 0, .667)
    }
    70% {
        fill: rgba(0, 0, 0, .524)
    }
    80% {
        fill: rgba(0, 0, 0, .34)
    }
    100% {
        box-shadow: rgba(0, 0, 0, .177)
    }
}

@-webkit-keyframes input-shadow {
    0% {
        fill: rgba(0, 0, 0, .115)
    }
    10% {
        fill: rgba(0, 0, 0, .272)
    }
    20% {
        fill: rgba(0, 0, 0, .435)
    }
    30% {
        fill: rgba(0, 0, 0, .653)
    }
    40% {
        fill: rgba(0, 0, 0, .735)
    }
    50% {
        fill: #000
    }
    60% {
        fill: rgba(0, 0, 0, .667)
    }
    70% {
        fill: rgba(0, 0, 0, .524)
    }
    80% {
        fill: rgba(0, 0, 0, .34)
    }
    100% {
        box-shadow: rgba(0, 0, 0, .177)
    }
}
